<mat-selection-list class="overflow-auto max-h-80">
    @for(todo of todos; track todo.id; let i = $index){
        <mat-list-option (selectedChange)="markTodoOk($event, todo)" [selected]="todo.completed"
            (keydown.space)="$event.stopPropagation()">
            <div class="flex justify-between items-center">
                <input #todoInput class="p-3" [value]="todo.value" [disabled]="!todo.isEditable" [id]="todo.id"
                    (keydown.enter)="editTodo(todo.id, $event)" />
                <div (click)="$event.stopPropagation()">
                    <button (click)="edit(todo.id, $event)">
                        <mat-icon matTooltip="Editar Tarea" matTooltipPosition="below" aria-hidden="false" aria-label="Example home icon" fontIcon="edit"
                            class="cursor-pointer !text-green-600 hover:transform transition-all ease-in hover:scale-110 hover:!text-green-500"></mat-icon>
                    </button>
                    <button (click)="onDelete(todo.id)" >
                        <mat-icon matTooltip="Eliminar Tarea" matTooltipPosition="below" aria-hidden="false" aria-label="Example home icon" fontIcon="delete"
                            class="!text-red-800 cursor-pointer hover:transform transition-all ease-in hover:scale-110 hover:!text-red-700"></mat-icon>
                    </button>
                </div>
            </div>
        </mat-list-option>
    }
    @empty {
        <p>No hay tareas</p>
    }
</mat-selection-list>