<mat-card class="min-w-96 max-h-[550px]" appearance="outlined">
  <mat-card-header class="flex justify-center !pt-8">
    <mat-card-title class="!font-bold !text-4xl">Todo App</mat-card-title>
  </mat-card-header>
  <div class="p-3 mt-10">
    <mat-form-field>
      <mat-label>Enter one todo</mat-label>
      <input matInput placeholder="Junta a las 12:00 pm" [formControl]="todo" required (keydown.enter)="addTodo()" />

      @if (errorMessage().trim() != '') {
      <mat-error>{{errorMessage()}}</mat-error>
      }
    </mat-form-field>
  </div>

  <mat-card-content>
    <mat-tab-group dynamicHeight headerPosition="below">

      <mat-tab label="All Todos" class="">
        <app-todo-list [todos]="todoList" (deleteTodo)="delete($event)" />
      </mat-tab>
      <mat-tab label="Todos pendientes">
        <app-todo-list [todos]="todoComplete" (deleteTodo)="delete($event)"></app-todo-list>
      </mat-tab>
      <mat-tab label="Todos completados">
        <app-todo-list [todos]="todoPending" (deleteTodo)="delete($event)" />
      </mat-tab>

    </mat-tab-group>
  </mat-card-content>
</mat-card>